body {
    font-family: Arial, sans-serif;
    padding-top: 20px;
}

#app {
    margin-top: 20px;
}

button {
    font-size: 1.2rem;
}

h3 {
    color: #007bff;
}

#user-data ul {
    padding-left: 0;
}
